[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
format = "black code"
lint = "pylint code/private_set_intersection.py code/test_private_set_intersection.py"
typecheck = "mypy code"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
black = "==20.8b1"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.9"
