[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
format = "black ."
lint = "pylint private_set_intersection.py test_private_set_intersection.py"
typecheck = "mypy ."

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
black = "==20.8b1"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.9"
